<section class="container" [class.vh-100]="!hourlyForecast">
    <div class="d-flex justify-content-between align-items-center mt-5" *ngIf="hourlyForecast">
        <div class="forecast__header">
            <div class="d-flex align-items-center">
                <h3 class="font-weight-bold">Hourly Forecast - </h3>
                <h5 class="ml-3 mb-0">{{getCityNameFromTimeZone(hourlyForecast?.timezone)}}</h5>
            </div>
            <div class="forecast__date">{{hourlyForecast?.hourly[0].dt * 1000| date : 'EEEE, MMMM d'}}</div>
        </div>

        <a class="back-button" routerLink="/current">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </a>
    </div>

    <app-hour-detail [hourDetail]="hourlyForecast?.hourly"></app-hour-detail>
</section>
